<html lang="en" onclick="getNewTask()">
<head>
  <meta charset="utf-8">
 
  <title>26</title>
  <link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet"> 
  <link id="default-css" rel="stylesheet" href="static/css/styles.css">
 
</head>
 
<body>
  <script src="static/js/scripts.js"></script>
  <div class="card">
  	<p class="question">Литота</p>
  </div>
  <div class="answers">
	  <div id="btn" name="0" class="answer" onclick="answerPressed(event, 0)"><p class="text-ans">Стилистические фигуры (приёмы)</p></div>
	  <div id="btn" name="1" class="answer" onclick="answerPressed(event, 1)"><p class="text-ans">Лексические средства</p></div>
	  <div id="btn" name="2" class="answer" onclick="answerPressed(event, 2)"><p class="text-ans">Синтаксические средства</p></div>
	  <div id="btn" name="3" class="answer" onclick="answerPressed(event, 3)"><p class="text-ans">Тропы</p></div>
  </div>
</body>
</html>
